alembic
Authlib
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
flask-cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
PyMySQL
python-dotenv
razorpay
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
gunicorn
